In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pydotplus
%matplotlib inline

# read the data

In [2]:
#read thru this link to know more abput the data
#https://archive.ics.uci.edu/ml/datasets/Adult
#lets read the data directly from the website
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")

In [3]:
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
#dependent variable is whether the person earns >50k or <=50k

# split the data

In [5]:
#split the data into train & test using a random seed. Take seed as  1 so that all get the same answer
#take all columns as IV and <=50K as Dependent variable

# hOMEWORK TASK

In [ ]:
#build a Decision tree and give the max_depth as a variable x. Keep this Code in a loop and start the
#variable from depth(x)=1 to depth x=50... 
#using this predict on the train data and also on the test data....
#keep saving the accuracy for both train and test data INTO 2 VARIABLES (LISTS/ARAYS) and for each depth (1 to 50) and finally prepare 
# 2 plots...

#plot #1-------- for training data
#x axis shud be depth (1 to 50)
#y axi shud be train data accuracy corresponding to depth x=1 to 50///
# the graph shud show less accuarcy at the begining when depth=less and accuracy shud
#gradually increase...as depth increasees


#plot #2---- for test data
#x axis shud be depth (1 to 50)
#y axi shud be test data accuracy corresponding to depth x=1 to 50///
# the graph shud show less accuarcy at the begining when depth=less and accuracy shud 
#gradually increase for higher depth and then strat decreasing again...as depth beocmes too big..
# this will be due to OVERfittinG...

# through this Homework OVERFITTING SHUD BE CLEAR TO YOU IN DECISION TREEE.......
#U CAN DISCUSS WITHIN YOUSELVESS...

# ALL THE BEST!!